# exports
export(bgDistance)
export(bgSample)
export(biasGrid)
export(buildSP)
export(checkOccurrence)
export(checkRasters)
export(combinePreds)
export(devBern)
export(en2os)
export(en2poly)
export(extent2poly)
export(extractAdmin)
export(extractBhatt)
export(featureDensity)
export(gaussWindow)
export(getConditionalEffectPlots)
export(getEffectPlots)
export(getGAUL)
export(getRelInf)
export(getStats)
export(importRasters)
export(makePreds)
export(masterMask)
export(maxExtent)
export(nearestLand)
export(occurrence2SPDF)
export(os2en)
export(osgb36)
export(percCover)
export(rasterPointCount)
export(rmse)
export(runABRAID)
export(runBRT)
export(sdWeighted)
export(splitIdx)
export(subsample)
export(tempStand)
export(wgs84)


# dependencies
import(sp)
import(raster)
import(rgeos)

# imports
import(dismo)
import(gbm)
import(gtools)
import(snowfall)
import(PresenceAbsence)
import(rgdal)
import(parallel)
